# Read the films genres

In [1]:
import pandas as pd

films = pd.read_csv('./dataset/movies.csv')
films.set_index('movieId', inplace=True)
films.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

# Read the Ratings

In [2]:
ratings = pd.read_csv('./dataset/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

# 1. Recomending by Views And Rating

### Extraction the views and the mean rating

In [3]:
view_mean = ratings.groupby(by="movieId").agg({"rating": "mean", "timestamp": "count"})
view_mean.rename(columns={"timestamp": "views"}, inplace=True)
view_mean.sort_values(by="views", inplace=True, ascending=False)
view_mean.head()

           rating  views
movieId
356      4.164134    329
318      4.429022    317
296      4.197068    307
593      4.161290    279
2571     4.192446    278

### Top 10 movies

In [4]:
first_recomendation = films.merge(view_mean, on="movieId", how="inner")
first_recomendation.sort_values(by=["views", "rating"], ascending=False, inplace=True)

first_recomendation.head(10)

,title,genres,rating,views
movieId,,,,
356,Forrest Gump (1994),Comedy|Drama|Romance|War,4.164134,329
318,"Shawshank Redemption, The (1994)",Crime|Drama,4.429022,317
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,4.197068,307
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,4.161290,279
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,4.192446,278
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4.231076,251
480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,3.750000,238
110,Braveheart (1995),Action|Drama|War,4.031646,237
589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,3.970982,224
527,Schindler's List (1993),Drama|War,4.225000,220

# 2.Already watch some genres

In [8]:
first_recomendation[["Comedy|Crime" in genre for genre in first_recomendation.genres]]

,title,genres,rating,views
movieId,,,,
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,4.197068,307
608,Fargo (1996),Comedy|Crime|Drama|Thriller,4.116022,181
367,"Mask, The (1994)",Action|Comedy|Crime|Fantasy,3.184713,157
153,Batman Forever (1995),Action|Adventure|Comedy|Crime,2.916058,137
1732,"Big Lebowski, The (1998)",Comedy|Crime,3.924528,106
778,Trainspotting (1996),Comedy|Crime|Drama,4.039216,102
2987,Who Framed Roger Rabbit? (1988),Adventure|Animation|Children|Comedy|Crime|Fant...,3.572165,97
2502,Office Space (1999),Comedy|Crime,4.090426,94
4027,"O Brother, Where Art Thou? (2000)",Adventure|Comedy|Crime,3.808511,94
4011,Snatch (2000),Comedy|Crime|Thriller,4.155914,93
21,Get Shorty (1995),Comedy|Crime|Thriller,3.494382,89
69122,"Hangover, The (2009)",Comedy|Crime,3.631579,76
2000,Lethal Weapon (1987),Action|Comedy|Crime|Drama,3.673333,75
1079,"Fish Called Wanda, A (1988)",Comedy|Crime,3.922535,71
2542,"Lock, Stock & Two Smoking Barrels (1998)",Comedy|Crime|Thriller,4.052239,67
1234,"Sting, The (1973)",Comedy|Crime,3.976562,64
4025,Miss Congeniality (2000),Comedy|Crime,3.054688,64
51255,Hot Fuzz (2007),Action|Comedy|Crime|Mystery,4.000000,61
1500,Grosse Pointe Blank (1997),Comedy|Crime|Romance,3.610169,59
420,Beverly Hills Cop III (1994),Action|Comedy|Crime|Thriller,2.720339,59
1148,Wallace & Gromit: The Wrong Trousers (1993),Animation|Children|Comedy|Crime,4.035714,56
106782,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama,3.916667,54
145,Bad Boys (1995),Action|Comedy|Crime|Drama|Thriller,3.245098,51
910,Some Like It Hot (1959),Comedy|Crime,4.010000,50
5991,Chicago (2002),Comedy|Crime|Drama|Musical,3.724490,49
2001,Lethal Weapon 2 (1989),Action|Comedy|Crime|Drama,3.180851,47
112,Rumble in the Bronx (Hont faan kui) (1995),Action|Adventure|Comedy|Crime,3.543478,46
1396,Sneakers (1992),Action|Comedy|Crime|Drama|Sci-Fi,3.478261,46
4085,Beverly Hills Cop (1984),Action|Comedy|Crime|Drama,3.402174,46
2002,Lethal Weapon 3 (1992),Action|Comedy|Crime|Drama,2.934783,46
...,...,...,...,...
37477,"Man, The (2005)",Action|Comedy|Crime,2.500000,1
47538,Crime Busters (1977),Action|Adventure|Comedy|Crime,2.500000,1
48416,School for Scoundrels (2006),Comedy|Crime,2.500000,1
55294,Weirdsville (2007),Comedy|Crime|Drama,2.500000,1
73431,"Maiden Heist, The (2009)",Comedy|Crime,2.500000,1
100326,Stand Up Guys (2012),Comedy|Crime,2.500000,1
107338,Dampfnudelblues (2013),Comedy|Crime,2.500000,1
117572,Hit by Lightning (2014),Comedy|Crime|Romance,2.500000,1
142961,Life Eternal (2015),Comedy|Crime|Thriller,2.500000,1
175693,Rick and Morty: State of Georgia Vs. Denver Fe...,Comedy|Crime,2.500000,1
189713,BlacKkKlansman (2018),Comedy|Crime|Drama,2.500000,1
4242,Beautiful Creatures (2000),Comedy|Crime|Drama|Thriller,2.000000,1
4610,"January Man, The (1989)",Comedy|Crime|Mystery|Thriller,2.000000,1
4613,K-9 (1989),Action|Comedy|Crime,2.000000,1
5442,V. I. Warshawski (1991),Action|Comedy|Crime,2.000000,1
6804,Crimewave (1985),Comedy|Crime,2.000000,1
7262,Catch That Kid (2004),Action|Adventure|Children|Comedy|Crime,2.000000,1
31367,"Chase, The (1994)",Action|Adventure|Comedy|Crime|Romance|Thriller,2.000000,1
43558,Big Momma's House 2 (2006),Action|Comedy|Crime,2.000000,1
86028,Henry's Crime (2010),Comedy|Crime,2.000000,1
6587,Gigli (2003),Comedy|Crime|Romance,1.500000,1
27549,Dead or Alive: Final (2002),Comedy|Crime|Drama|Sci-Fi|Thriller,1.500000,1
68480,Flatfoot on the Nile (Piedone d'Egitto) (1980),Action|Comedy|Crime,1.500000,1
116419,Drive Hard (2014),Action|Comedy|Crime,1.500000,1
3667,Rent-A-Cop (1988),Action|Comedy|Crime,1.000000,1
3716,Fatal Beauty (1987),Action|Comedy|Crime|Drama,1.000000,1
6424,Oscar (1991),Comedy|Crime|Mystery|Romance,1.000000,1
27008,From Dusk Till Dawn 2: Texas Blood Money (1999),Comedy|Crime|Horror,1.000000,1
43419,Bandidas (2006),Action|Comedy|Crime|Western,1.000000,1
117630,Double Trouble (1992),Action|Comedy|Crime|Romance,1.000000,1