# Read the films genres

In [1]:
import pandas as pd

films = pd.read_csv('./dataset/movies.csv')
films.set_index('movieId', inplace=True)
films.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

# Read the Ratings

In [2]:
ratings = pd.read_csv('./dataset/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

# 1. Recomending by Views And Rating

### Extraction the views and the mean rating

In [3]:
view_mean = ratings.groupby(by="movieId").agg({"rating": "mean", "timestamp": "count"})
view_mean.rename(columns={"timestamp": "views"}, inplace=True)
view_mean.sort_values(by="views", inplace=True, ascending=False)
view_mean.head()

           rating  views
movieId
356      4.164134    329
318      4.429022    317
296      4.197068    307
593      4.161290    279
2571     4.192446    278

### Collection of 10 movies

In [4]:
first_recomendation = films.merge(view_mean, on="movieId", how="inner")
first_recomendation.sort_values(by=["views", "rating"], ascending=False, inplace=True)

first_recomendation.head(10)

,title,genres,rating,views
movieId,,,,
356,Forrest Gump (1994),Comedy|Drama|Romance|War,4.164134,329
318,"Shawshank Redemption, The (1994)",Crime|Drama,4.429022,317
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,4.197068,307
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,4.161290,279
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,4.192446,278
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4.231076,251
480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,3.750000,238
110,Braveheart (1995),Action|Drama|War,4.031646,237
589,Terminator 2: Judgment Day (1991),Action|Sci-Fi,3.970982,224
527,Schindler's List (1993),Drama|War,4.225000,220